.App{
  font-size: calc(12px + 1vmin)!important;
  text-align: center;
}

th, td{
  border: 2px solid #bb86fc;
  padding: 0.5em;
}

td > input, th > input{
  padding: 0.5em;
  width: 8vw;
  background-image: linear-gradient(to bottom right, #1e1e1e, #121212);
  color: white;
  font-size: 1em;
  border: 2px solid #121212;
}

td > input, th > input:focus{
  outline-color: #90ee02;
}

@media screen and (min-width: 700px){
  td > input{
    width: 4vw;
  }
}

table{
  border-collapse: collapse;
  max-width: 90vw;
  display: inline-table;
}

.g-chart, .g-chart > div{
  width: 100%!important;
}

.chart > div{
  display: inline-block;
}

::-webkit-scrollbar-thumb{
  background: rgba(209, 213, 219, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(209, 213, 219, 0.4);
}

::-webkit-scrollbar-track{
  background:#1e1e1e;
}

::-webkit-scrollbar{
  width: 7px;
}

*{
  scrollbar-color: rgba(209, 213, 219, 0.2) #1e1e1e;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}